@import url('https://fonts.googleapis.com/css?family=Orbitron');

.game-message {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    vertical-align: center;
}
.game-message__text {
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 3rem;
}
